@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "EB Garamond", serif;
}

html,
body {
	height: 100%;
	width: 100%;
}

#container {
	height: 8.5vh;
	/* background-color: aqua; */
	position: relative;
	width: 100%;
	/* padding: 0 1vw; */
	/* padding-top: 20vh; */
}

#header {
	z-index: 99;
	width: 100%;
	height: 8.5vh;
	background-color: #040404;
	display: flex;
	position: fixed;
	justify-content: center;
	/* justify-content: space-evenly; */
	align-items: center;
}
#header #leftside {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 100%;
	background: transparent;
	margin: 0 7px 0;
}
#menu-bars {
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 0 23px 0;
	width: 32px;
	height: 32px;
	background: transparent;
}
#menu-bars a {
	background-color: #323232;
	position: relative;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 34px 0;
	margin-right: 12px;
	transition: all 0.7s;
}
#menu-bars a i {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 34px 0;
	color: #e1e1e1;
	font-size: 18px;
	font-weight: 600;
	text-decoration-line: none;
	text-decoration: none;
}
#menu-bars a:hover {
	background-color: #595959;
	/* content: counter("menu"); */
}
#leftside #logo {
	margin: 0 34px 0;
	display: flex;
	/* height: 100%; */
	justify-content: center;
	align-items: center;
	gap: 7px;
}
#leftside #logo img {
	display: flex;
	margin-top: 4px;
	width: 20%;
	height: 8.9%;
}
#leftside #logo h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	font-weight: 700;
}

#centerside {
	margin-left: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5vh;
	width: 40%;
	border-radius: 14px;
	border: 1px solid #6e6e6e;
	background-color: #2e2e2e;
}
#search-box {
	position: relative;
	justify-content: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
#Sbars {
	position: absolute;
	/* margin-left: -10px; */
	/* border:1px solid yellow; */
	height: 100%;
	width: 100%;
	border-bottom-left-radius: 14px;
	border-top-left-radius: 14px;
	/* border: 1px solid #4f4f4f; */
	background: transparent;
	/* background-color: #28ff07; */
}
#Sbars:hover {
	border: yellow;
	border: 1px solid rgb(51, 255, 0);
}

input {
	width: 300px;
	padding: 0px 15px;
	font-size: 12px;
	color: #cdcdcd;
	border: none;
}

input,
input::-webkit-input-placeholder {
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	/* line-height: 4; */
}

#mic-box {
	/* z-index: 1; */
	position: relative;
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #161616;
	/* border-radius: 50%; */
	/* width: 25px;
    height: 25px; */
	border-bottom-right-radius: 14px;
	border-top-right-radius: 14px;
	/* background-color: yellow; */
}

a {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-left: -12px; */
	cursor: pointer;
	transition: all 0.6s;
	/* position: fixed; */
	text-decoration-line: none;
	text-decoration: none;
}
#mic-box i:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	/* position: relative; */
	border-radius: 50%;
	background-color: #646464;
	width: 25px;
	height: 25px;
	transform: translateY(-1px);
}
#mic-box a i {
	transition: all 0.7s;
	font-size: 13px;
	color: #a1a1a1;
	text-decoration-line: none;
	text-decoration: none;
}

#header #rightside {
	display: flex;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
	width: 25%;
	background: transparent;
	height: 100%;
}
#header #rightside a i {
	color: #fff;
}
#upload-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 67px;
}
#upload-box a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	text-decoration-line: none;
	text-decoration: none;
	/* background-color: #3b3b3b; */
}
#upload-box a i {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	/* background-color: #3b3b3b; */
	border-radius: 50%;
	font-size: 15px;
	transition: all 0.7s;
	/* font-weight: 500; */
}
#upload-box a i:hover {
	background-color: #6e6e6e;
	transform: translateY(-5px);
}
#noti-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -60px;
}
#noti-box a {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration-line: none;
	text-transform: none;
	position: relative;
	transition: all 0.8s;
}
#noti-box a i {
	width: 29px;
	height: 29px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 17px;
	border-radius: 50%;
	transition: all 0.8s;
}
#noti-box a i:hover {
	background-color: #6e6e6e;
	transform: translateY(-5px);
}

#user-box {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin: 0 6px; */
}
#user-box a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	/* background-color: #3b3b3b; */
}
#user-box a i {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	/* background-color: #3b3b3b; */
	border-radius: 50%;
	transition: all 0.7s;
}
#user-box a i:hover {
	background-color: #6e6e6e;
	transform: translateY(-5px);
}

#main {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #0f0f0f;
}
#main #suggation-box {
	margin-top: 1%;
	display: block;
	width: 27%;
	height: 100%;
	background: transparent;
}
#recomend-video {
	/* position: relative; */
	/* display: block; */
	/* gap: 10px; */
	/* justify-content: space-between; */
	margin: 0 15px 0;
	width: 100%;
	height: 100%;
}
#recomend-video h2 {
	color: #fff;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-size: 15px;
	font-weight: 900;
	margin-top: 10px;
	text-transform: uppercase;
}
#recomend-video h2 i {
	display: flex;
    justify-content: center;
    text-align: center;
    padding: 3px 12px 0;
}

#next-video {
	box-shadow: 0 0 3px #fff;
	margin: 12px 0 0;
	gap: 5px;
	border-radius: 12px;
	width: 300px;
	/* height: 150px; */
	background-color: #28292a;
}
#v-con {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	width: 100%;
	height: 130px;
	background-color: #081c2c;
}
#next-video #v-con iframe #v-con-v {
	width: 100px;
	height: 70px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
#next-video #v-con iframe {
	width: 100%;
	height: 100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

#title-area {
	display: flex;
	width: 100%;
	height: 30px;
	align-items: center;
	justify-content: space-evenly;
}
#title-area a {
	margin: 0 12px 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 5px;
}
#title-area a i {
	display: flex;
	align-items: center;
	/* justify-content: space-evenly; */
	color: #fff;
	font-size: 12px;
	gap: 5px;
}
#title-area h5 {
	color: #fff;
}
#title-area img {
	/* width="70px" height="20px" */
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main #play-box {
	margin-top: 3%;
	position: relative;
	display: block;
	text-align: center;
	width: 46%;
	height: 100%;
	background: transparent;
}
#main #play-box iframe {
	width: 98%;
	border: 1px solid #fff;
	border-radius: 15px;
	box-shadow: 0 0 12px #fff;
}
#sub-header h2 {
	text-align: left;
	color: #ffff;
	margin: 8px 14px 0;
	font-size: 17px;
}
#play-box #sub-icons {
	display: flex;
	position: relative;
	width: 100%;
	height: 7.5vh;
	margin: 8px 14px 0;
	text-wrap: wrap;
}
#play-box #sub-icons img {
	border-radius: 50%;
	box-shadow: 0 0 9px #fff;
	border: 1px solid #000000;
	transition: all 0.3s;
}
#play-box #sub-icons img:hover {
	transform: scale(1.2) ease-in-out;
	box-shadow: 0 0 1px;
	border: none;
	transition: all 0.7s;
}
#play-box #sub-icons #Subscriber {
	display: flex;
	color: #fff;
	justify-content: center;
	align-items: center;
	margin: 0 2px 0;
	/* gap: 2px; */
}
#play-box #sub-icons #Subscriber h2 {
	font-size: 17px;
	cursor: pointer;
	/* padding: 0 16px 0; */
	/* margin-left: 10px; */
}
#play-box #sub-icons #Subscriber h3 {
	font-size: 19px;
	font-weight: 700;
	/* color: #969696; */
	margin: 0 10px 0;
}
#play-box #sub-icons #Subscriber h4 {
	font-size: 13px;
	font-weight: 700;
	color: #969696;
	margin: 0 15px 0;
}
#bell-subs a {
	margin-top: 10px;
	gap: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* padding: 12px 3px 0; */
	width: 110px;
	height: 52%;
	border-radius: 15px;
	background-color: #2c2c2c;
	transition: all 0.1s;
}
#bell-subs a i p {
	letter-spacing: 1px;
}
#bell-subs a i {
	display: flex;
	gap: 6px;
	font-size: 12px;
	color: #b8b8b8;
}
#bell-subs a:hover {
	background-color: #5f5f5f;
}

#sideicons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 12px;
	width: 270px;
	height: 100%;
	/* background-color: yellow; */
}
#like-box {
	margin-left: 40px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	width: 80px;
	height: 53%;
	border-radius: 15px;
	background-color: #2c2c2c;
}

#like-box a i {
	font-size: 13px;
	font-weight: 600;
}
#like-box:hover {
	background-color: #5e5e5e;
}

#share-box {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	text-align: center;
	width: 80px;
	height: 53%;
	border-radius: 15px;
	background-color: #2c2c2c;
}
#share-box:hover {
	background-color: #5e5e5e;
}
#share-box a {
	display: flex;
	justify-content: space-between;
}
#share-box a i {
	display: flex;
	gap: 9px;
	font-size: 13px;
}

#dot-box {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	width: 40px;
	height: 53%;
	border-radius: 15px;
	background-color: #2c2c2c;
}
#dot-box:hover {
	background-color: #5e5e5e;
}

#desc {
	display: flex;
	flex-direction: column;
	margin-top: 12px;
	width: 100%;
	min-height: 100%;
	border-radius: 15px;
	background-color: #272727;
	overflow: hidden;
}
#views {
	display: flex;
	align-items: center;
	margin: 3px 25px;
	gap: 7px;
}
#views h4 {
	color: #fff;
	font-size: 15px;
	gap: 3px;
	font-weight: 700;
	line-height: 2;
}

.read-more-container {
	display: flex;
	flex-direction: column;
	color: #111;
	/* background-color: #272727; */

	gap: 2px;
}

.container {
	padding: 0 12px;
	background-color: #272727;
	text-align: left;
	border-radius: none;
	/* line-height: 1.4rem; */
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.container p {
	color: #fff;
	opacity: 80%;
}

.read-more-btn {
	color: #0984e3;
}

.read-more-text {
	display: none;
}

.read-more-text--show {
	display: inline;
}

#commnets {
	display: flex;
	color: #fff;
	flex-direction: column;
}
#com-count {
	display: flex;
	align-items: center;
	text-align: center;
	margin: 25px 8px 0;
	gap: 12px;
}

#com-count a {
	color: #fff;
	gap: 12px;
	font-size: 14px;
	font-weight: 700;
	margin: 0 25px 0;
}

#main #short-suggation {
	margin-top: 3%;
	display: block;
	flex-direction: column;
	/* justify-content: left; */
	align-items: center;
	width: 27%;
	height: 100%;
	background: transparent;
}

#short-title {
	display: flex;
	position: relative;
	/* justify-content: center; */
	/* align-items: center; */
	text-align: center;
	margin: 0 25px 0;
	gap: 2px;
}
#short-suggation h2 {
	color: #fff;
	/* text-align: center; */
}
#short-suggation img {
	color: #fff;
	width: 27px;
	/* height: 100px; */
}

#short-box {
	/* margin-top: 22px; */
	display: grid;
	grid-template-columns: auto;
	/* object-fit: cover; */
	/* width: 50%;
    height: 100%; */
	position: relative;
	gap: 12px;
	/* background-color: #fff; */
	margin: 2px 8.5px 0;
	/* border: 5px  solid blue; */
	/* justify-content: space-evenly; */
}
#short-box iframe {
	gap: 6px;
	object-fit: cover;
	/* border: 5px solid red; */
	border-radius: 16px;
	border: 1px solid#fff;
	background-color: #fff;
}













































@media (max-width: 720px){

    #container {
        height: 5.5vh;
        background-color: aqua;
        position: relative;
        width: 100%;
        /* padding: 0 1vw; */
        /* padding-top: 20vh; */
    }
    
    #header {
        z-index: 99;
        width: 100%;
        height: 5.5vh;
        background-color: #040404;
        display: flex;
        position: fixed;
        justify-content: space-between;
        background-color: firebrick;
        /* justify-content: space-evenly; */
        align-items: center;
    }
    #header #leftside {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100px;
        background: transparent;
        /* margin: 0 7px 0; */
    }
    #menu-bars {
        color: #ffff;
        display: flex;
        /* margin: 0 50px 0; */
        /* background-color: #0984e3; */
        width: 32px;
        /* height: 32px; */
      
    }
    #menu-bars a {
        background-color: #323232;
        position: relative;
        border-radius: 50%;
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 0 44px 0; */
        margin-right: 12px;
        transition: all 0.7s;
    }
    #menu-bars a i {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 0 34px 0; */
        color: #e1e1e1;
        font-size: 12px;
        font-weight: 600;
    }       
    
    #leftside #logo {
     margin-left: 5px;
    }
    #leftside #logo img {
        display: flex;
        /* margin-top: 4px; */
        /* width: 20%; */
        /* height: 8.9%; */
    }
    #leftside #logo h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        font-weight: 700;
    }
    
    #centerside {
        margin-left: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3vh;
        width: 40%;
        border-radius: 14px;
        border: 1px solid #6e6e6e;
        /* background-color: #00f400; */
    }
    #search-box {
        position: relative;
        justify-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    #Sbars {
        position: absolute;
        /* margin-left: -10px; */
        /* border:1px solid yellow; */
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 14px;
        border-top-left-radius: 14px;
        /* border: 1px solid #4f4f4f; */
        background: transparent;
        /* background-color: #28ff07; */
    }
    #Sbars:hover {
        border: yellow;
        border: 1px solid rgb(51, 255, 0);
    }
    
    input {
        width: 300px;
        padding: 0px 15px;
        font-size: 7px;
        color: #cdcdcd;
        border: none;
    }
    
    input,
    input::-webkit-input-placeholder {
        font-size: 7px;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        /* line-height: 4; */
    }
    
    #mic-box {
        /* z-index: 1; */
        position: relative;
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #161616;
        /* border-radius: 50%; */
        /* width: 25px;
        height: 25px; */
        border-bottom-right-radius: 14px;
        border-top-right-radius: 14px;
        /* background-color: yellow; */
    }
    
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-left: -12px; */
        cursor: pointer;
        transition: all 0.6s;
        /* position: fixed; */
        text-decoration-line: none;
        text-decoration: none;
    }
    #mic-box i:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: relative; */
        border-radius: 50%;
        background-color: #646464;
        width: 12px;
        height: 12px;
        transform: translateY(-1px);
    }
    #mic-box a i {
        transition: all 0.7s;
        font-size: 7px;
        color: #a1a1a1;
        text-decoration-line: none;
        text-decoration: none;
    }
    
    #header #rightside {
        display: flex;
        position: relative;
        justify-content: space-evenly;
        align-items: center;
        width: 25%;
        background: transparent;
        height: 100%;
        margin-right: 22px;
    }
    
    #upload-box a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 13px;
        height: 13px;
        text-decoration-line: none;
        text-decoration: none;
        /* background-color: #3b3b3b; */
    }
    #upload-box a i {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        /* background-color: #3b3b3b; */
        border-radius: 50%;
        font-size: 10px;
        transition: all 0.7s;
        /* font-weight: 500; */
    }
    #upload-box a i:hover {
        background-color: #6e6e6e;
        transform: translateY(-5px);
    }
    #noti-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -60px;
    }
    #noti-box a {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration-line: none;
        text-transform: none;
        position: relative;
        transition: all 0.8s;
    }
    #noti-box a i {
        width: 29px;
        height: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 11px;
        border-radius: 50%;
        transition: all 0.8s;
    }
    #noti-box a i:hover {
        background-color: #6e6e6e;
        transform: translateY(-5px);
    }
    
    #user-box {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 0 6px; */
    }
    #user-box a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        /* background-color: #3b3b3b; */
    }
    #user-box a i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        font-size: 10px;
        /* background-color: #3b3b3b; */
        border-radius: 50%;
        transition: all 0.7s;
    }
    #main {
        display: flex;
        position: absolute;
        /* flex-direction: column; */
        /* justify-content: center;
        align-items: center; */
        width: 100%;
        height: 100%;
        background-color: #0f0f0f;
    }
    #suggation-box {
        /* margin-top: 1%; */
        /* display:flex; */
        width: 27%;
        height: 100%;
        background: transparent;
        order: 3;
    }
    #recomend-video {
        /* position: relative; */
        /* display: block; */
        /* gap: 10px; */
        /* justify-content: space-between; */
        margin: 0 15px 0;
        width: 100%;
        height: 100%;
        background-color: red;
        
    }
    #recomend-video h2 {
        color: #fff;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 15px;
        font-weight: 900;
        margin-top: 10px;
        text-transform: uppercase;
    }
    #recomend-video h2 i {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 3px 12px 0;
    }
    
    #next-video {
        box-shadow: 0 0 3px #fff;
        margin: 12px 0 0;
        gap: 5px;
        border-radius: 12px;
        width: 300px;
        /* height: 150px; */
        background-color: #28292a;
    }
    #v-con {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        width: 100%;
        height: 130px;
        background-color: #081c2c;
    }
    #next-video #v-con iframe #v-con-v {
        width: 100px;
        height: 70px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    #next-video #v-con iframe {
        width: 100%;
        height: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    #short-suggation{
        display: flex;
        flex-direction: row-reverse;
    }























}